<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giỏ Hàng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1 class="text text-center text-success">Giỏ Hàng</h1>

        <table class="table">
            <tr>
                <td>Tên sản phẩm</td>
                <td>Giá</td>
                <td>Số lượng</td>
            </tr>
            {% for c in session["cart"].values() %}
            <tr>
                <td>{{ c.name }}</td>
                <td>{{ c.price }}</td>
                <td>{{ c.quantity }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3">
                    <input type="button" value="Thanh toán" class="btn btn-danger" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>