<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản Lý sản phẩm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!--    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />-->
    <script>
        function delProduct(productId) {
            fetch("/api/pro/" + productId, {
                "method": "delete"
            }).then(res => res.json()).then(res => {
                if (res.status == 200) {
                    var d = document.getElementById("product" + res.product_id);
                    d.style.display = "None";
                }
            }).catch(function (err) {

            });
        }

        function addToCart(id, name, price) {
            fetch("/api/cart", {
                body: JSON.stringify({
                    "product_id": id,
                    "name": name,
                    "price": price
                }),
                method: "post",
                headers: {"Content-Type": "application/json"}
            }).then(res => res.json()).then(data => {
                var cart = document.getElementById("cartId");
                cart.innerText = `(${data.quantity})`;
            })
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>QUẢN LÝ SẢN PHẨM</h1>

        <form action="{{ url_for('product_list') }}">
            <div>
                <input type="text" name="keyword" placeholder="Nhập từ khóa cần tìm" />
            </div>
            <div>
                <input type="number" name="from_price" placeholder="Giá bắt đầu" />
                 <input type="number" name="to_price" placeholder="Giá kết thúc" />
            </div>
            <input type="submit" value="Tìm" />
        </form>
        <div>
            <a href="{{ url_for('cart')}}">Giỏ hàng</a> <span class="badge badge-dark" id="cartId">0</span>
        </div>

        <table  class="table table">
            <thead>
            <tr>
                <th scope="col">Ảnh</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Giá</th>
                <th scope="col">Thao tác</th>
            </tr>
            </thead>
            {% for product in products %}
            <tr id="product{{product.id}}">
                <td>
                    <img width="20%" src="{{ product.image }}" alt="{{ product.name }}"/>
                </td>
                <td>
                    <h3>{{ product.name }}</h3>
                </td>
                <td>{{ product.description }}</td>
                <td>{{ "{:,.1f}".format(product.price) }} VND</td>
                <td>
                    <a href="javascript:;" onclick="addToCart({{ product.id }}, '{{ product.name }}', {{ product.price }})">Thêm vào giỏ</a> |
                    <a href="{{ url_for('product_add', product_id = product.id) }}">Cập nhật</a> |
                    <a href="javascript:;" onclick="delProduct({{ product.id }})">Xóa</a>
                </td>
            </tr>
            {% endfor %}
        </table>

        <a class="btn btn-primary" href="{{ url_for('product_add', product_id = '') }}" >Thêm Sản Phẩm</a>
    </div>
</body>
</html>