<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1 class="text-center text-success">DANG Ky Tai Khoan</h1>
        {% if err_msg %}
        <div class="alert alert-danger">
            <h2>{{ err_msg }}</h2>
        </div>
        {% endif %}
        <form method="post">
            <div class="form-group">
                <input type="text" placeholder="Name..." name="name" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="text" placeholder="Username..." name="username" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password..." name="password" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="password" placeholder="Confirm ..." name="confirm" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Login"  class="btn btn-primary" />
            </div>
        </form>
    </div>
</body>
</html>